.cart {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 64px;
    &__item {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: left;
        margin-left: 75px;
        .cart-item {
            display: flex;
            flex-direction: row;
            margin-bottom: 15px;
            img {
                object-fit: cover;
                width: 5rem;
                height: 5rem;
                border-radius: 8px;
            }
            .cart-panel {
                margin-left: 45px;
                margin-right: 45px;
                .cart-detail {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: left;
                    max-width: 1000px;
                    margin-bottom: 15px;
                }
            }
        }
    }
    .form-group {
        margin-bottom: 10px;
        .message {
            display: block;
            font-size: 16px;
        }
    }
}

.warning-message {
    display: flex;
    justify-content: center;
    margin-top: 60px;
    color: lightgray;
    font-size: 24px;
}
