.confirmation {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 9%;
    &__items {
        display: flex;
        flex-direction: column;
        align-items: center;
        i {
            color: #2be2b8;
        }
        .confirmation__title {
            color: #2edbb2;
            font-size: 35px;
        }
        .confirmation__item {
            margin-bottom: 35px;
        }
    }
}
